@import "../../../../shared/styles/variables.module.scss";

.trainer__modal {
  &__container {
    overflow: hidden;
  }

  &__name {
    font-size: $small-heading;
    font-weight: $big-weight;
    color: $darkgreen-color;
  }

  &__image {
    width: 100%;
  }

  &__content {
    overflow: hidden;
    font-weight: $big-weight;
    font-size: $small-font;
  }

  &__button {
    font-weight: $big-weight;
    font-size: $medium-font;
    padding: $small-padding;
    border-radius: $small-radius;
    transition: $fast-animation;

    &:hover {
      opacity: $animation-opacity;
    }

    &__add {
      color: $white-color;
      background-color: $darkgreen-color;
    }

    &__close {
      color: $darkgreen-color;
      background-color: $lightgray-color;
      margin-right: 1rem;
    }
  }
}
