@import "../../../../shared/styles/variables.module.scss";

.diet__during__day {
  &__container {
    display: flex;
    gap: $margin-small;
    align-items: center;
    justify-content: flex-start;

    font-weight: $big-weight;
    background-color: $darkgreen-color;
    padding: $medium-padding;

    &:first-child {
      border-radius: 10px 10px 0 0;
    }

    &:last-child {
      border-radius: 0 0 10px 10px;
    }

    &:not(:last-child) {
      border-bottom: $border-white;
    }
  }

  &__label {
    font-size: $big-font;
    padding: 0.2rem 0.8rem;
    color: $white-color;
  }

  &__button {
    background-color: $red-color;
    color: $white-color;
    font-size: $small-font;
    font-weight: $big-weight;
    padding: 0.4rem 1.2rem;
    border-radius: 10px;
    transition: $fast-animation;

    &:hover {
      opacity: $animation-opacity;
    }
  }
}
