@import "../../../../shared/styles/variables.module.scss";

.chat__window {
  &__container {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: $margin-medium;
    border-radius: 10px 10px 0 0;
    min-width: 15%;

    background-color: $white-color;
    font-weight: $big-weight;
    font-size: $small-font;
  }

  &__user__name {
    background-color: $darkgreen-color;
    color: $white-color;
    font-size: $big-font;
    padding: $small-padding;
    border-radius: 10px 10px 0 0;
    overflow-x: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__user__info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  &__button {
    font-weight: $big-weight;
    background-color: $darkgreen-color;
    color: $white-color;
    font-size: $small-font;
    padding: $small-padding;
    border-radius: $small-radius;
  }

  &__input {
    border: 2px solid $darkgreen-color;
    border-radius: 10px;
    padding: 0.2rem 0.8rem;
    &__container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      padding: 1rem;
    }
  }

  &__image {
    width: 3.2rem;
    height: 3.2rem;

    &__container {
      border-radius: 50%;
      overflow: hidden;
    }
  }
}
