@import "../../../../shared/styles/variables.module.scss";

.previous__diet__days {
  &__button {
    font-weight: $big-weight;
    font-size: $medium-font;
    padding: $small-padding;
    &:hover {
      opacity: $animation-opacity;
    }
  }
}
