@import "../../../../shared/styles/variables.module.scss";

.diet__during__day {
  &__container {
    max-height: 60vh;
    overflow-y: auto;
    width: 80%;
    margin: 0 auto;
    margin-bottom: $margin-small;
  }

  &__header {
    font-size: $small-heading;
    font-weight: $big-weight;
    color: $darkgreen-color;
    padding: $margin-medium;
    text-align: center;
    font-size: $big-heading;
  }
}
