@import "../../../../shared/styles/variables.module.scss";

.product {
  &__form {
    text-align: center;
    margin-bottom: $margin-small;
  }

  &__input {
    width: 25%;
    font-size: $small-font;
    border: $border-darkgreen;
    padding: $small-padding;
    border-radius: $small-radius;
  }

  &__text {
    font-weight: $big-weight;
    font-size: $small-heading;
    color: $darkgreen-color;
    text-align: center;
  }
}
