.notification {
  &__container {
    padding: 2rem;
    font-weight: bold;
    font-size: 1.6rem;
    color: white;

    &:not(:last-child) {
      border-bottom: 1px solid white;
    }
  }

  &__text {
    margin-bottom: 1rem;
  }

  &__button {
    font-weight: bold;
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    transition: 0.5s;
    &:hover {
      opacity: 0.5;
    }

    &__accept {
      background-color: lightgreen;
      margin-right: 1rem;
    }

    &__decline {
      background-color: red;
    }
  }
}
