@import "../../../../shared/styles/variables.module.scss";
.notification {
  &__container {
    padding: $small-padding;
    font-weight: $big-weight;
    font-size: $small-font;
    color: $white-color;

    &:not(:last-child) {
      border-bottom: $border-white;
    }
  }

  &__text {
    margin-bottom: 1rem;
  }

  &__button {
    font-weight: $big-weight;
    font-size: $small-font;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    transition: $normal-animation;
    &:hover {
      opacity: $animation-opacity;
    }

    &__accept {
      background-color: $lightgreen-color;
      margin-right: 1rem;
    }

    &__decline {
      background-color: $red-color;
    }
  }
}
