@import "../../../../shared/styles/variables.module.scss";

.profile {
  width: 30%;
  margin: 5rem auto;
  font-weight: $big-font;
  font-size: $margin-small;
  background-color: $darkgreen-color;
  color: $white-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $big-padding;
  border-radius: 5rem;
  box-shadow: $box-shadow;

  &__container__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: $margin-small;
  }

  &__name {
    font-size: $big-heading;
  }

  &__button {
    transition: $fast-animation;

    &:hover {
      opacity: $animation-opacity;
    }
  }
}
