@import "../../../../shared/styles/variables.module.scss";

.messages__list {
  &__container {
    min-height: 35vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    padding: $small-padding;
  }
}
