@import "../../../../shared/styles/variables.module.scss";

.chat__message {
  &__container {
    padding: $small-padding;

    overflow-wrap: break-word;
    max-width: 80%;
    margin-bottom: 0.5rem;
    border-radius: $small-radius;
  }

  &__send {
    color: $white-color;
    background-color: $darkgreen-color;
    align-self: flex-end;
  }

  &__achieved {
    background-color: $lightgray-color;
    color: $darkgreen-color;
    align-self: flex-start;
  }
}
