@import "../../../../shared/styles/variables.module.scss";

.previous__days {
  &__container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    gap: $margin-small;
    justify-content: center;
    align-items: center;
    margin-bottom: $margin-small;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: $white-color;
    background-color: $darkgreen-color;
  }

  &__button {
    font-weight: $big-weight;
    font-size: $medium-font;
    padding: $small-padding;
    color: $white-color;
    background-color: $darkgreen-color;
    &:hover {
      opacity: $animation-opacity;
    }
  }
}
