@import "../../../../shared/styles/variables.module.scss";

.diet__shedule {
  &__container {
    display: flex;
    gap: $margin-small;
    justify-content: center;
    align-items: center;
    font-weight: $big-weight;
    margin-bottom: $margin-small;
  }

  &__label {
    font-size: $medium-heading;
    color: $white-color;
  }
}
