@import "../../../../shared/styles/variables.module.scss";

.product__item {
  &__container {
    border-radius: $small-radius;
    margin: 0 auto;
    max-width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: $big-weight;
    font-size: $medium-font;
    color: $white-color;
    background-color: $darkgreen-color;
    gap: $margin-small;
    padding: 1rem;
    margin-bottom: $margin-small;
  }

  &__input {
    color: black;

    &__container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }
  }

  &__input__button {
    background-color: $white-color;
    padding: $small-padding;
    color: $darkgreen-color;
    font-weight: $big-weight;
    font-size: $medium-font;
    border-radius: $small-radius;
    transition: $fast-animation;

    &:hover {
      opacity: $animation-opacity;
    }
  }

  &__button {
    background-color: $white-color;
    color: $darkgreen-color;
    padding: $small-padding;
    border-radius: $small-radius;
    font-weight: $big-weight;
    font-size: $medium-font;

    &:hover {
      opacity: $animation-opacity;
    }
  }
}
