@import "../../../../shared/styles/variables.module.scss";

.diet__form {
  width: 30%;
  margin: $margin-small auto;
  font-weight: bold;
  font-size: $medium-font;

  &__input__container {
    margin-bottom: $margin-small;
  }

  &__button {
    font-weight: $big-weight;
    color: $darkgreen-color;
    font-size: $medium-font;
    background-color: $white-color;
    padding: $small-padding;
    border-radius: $small-radius;
    transition: $fast-animation;

    &:hover {
      background-color: $darkgreen-color;
      color: $white-color;
    }

    &__container {
      display: flex;
      justify-content: right;
    }
  }

  &__header {
    font-size: $big-heading;
    font-weight: $big-weight;
  }
}
