@import "../../../../shared/styles/variables.module.scss";

.trainer__card {
  &__container {
    min-height: 100%;
    box-shadow: $box-shadow;
    width: 70%;
    background-color: $white-color;
    border-radius: $small-radius;
    overflow: hidden;
    font-weight: $big-weight;
    color: $darkgreen-color;
    transition: $fast-animation;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__name {
    font-size: $small-heading;
  }

  &__image {
    width: 30rem;
    height: 30rem;
  }

  &__info__container {
    padding: $small-padding;
  }
}
