@import "../../../../shared/styles/variables.module.scss";

.diet__day__summary {
  &__container {
    width: 60%;
    margin: 0 auto;
    margin-bottom: $margin-small;
    display: flex;
    gap: $margin-small;
    align-items: center;
    justify-content: space-around;

    font-weight: $big-weight;
    background-color: $darkgreen-color;
    padding: $medium-padding;
  }

  &__text {
    font-size: $big-font;
    padding: $small-padding;
    color: $white-color;
  }
}
