@import "../../../../shared/styles/variables.module.scss";

.select__input {
  background-color: $white-color;
  width: 100%;
  padding: 0.5rem;
  &__option {
    padding: $small-heading;
    font-size: $small-font;
    font-weight: $big-weight;
  }
}
